*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  display: inline-block;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0
}

/*clearfix*/
.fix:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}

.fix {
  *zoom: 1
}

.box-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto
}

.text-center {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.mgt10 {
  margin-top: 10px;
}

.mgt20 {
  margin-top: 20px;
}